#starter {
  background-color: #ccc;
  border-radius: 5px;
  padding: 30px;
  font-size: 1.5em;
  text-align: center;
}
@media screen and (orientation: portrait) {
  #starter {
    font-size: 1.5em;
  }
}
#startbutton {
  font-size: 1.5em;
}
#ender {
  display: none;
  background-color: #ccc;
  border-radius: 5px;
  padding: 30px;
  font-size: 2em;
  text-align: center;
  position: relative;
}

#header-container {
  z-index: 45;
  width: 100%;
  padding: 20px;
  position: fixed;
}
#header {
  padding: 5px;
  text-align: center;
}
@media screen and (orientation: landscape) {
  #header-container {
    max-height: 100vh;
    width: 100vw;
    margin-top: 5px;
  }
  #startend-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.dropdown {
  z-index: 50;
}
.dropdown-menu li {
  font-size: 1.5em;
  padding: 2px 20px;
  white-space: nowrap;
}
.fsize {
  font-size: 2em;
}
