<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="utf-8"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.5/dist/mindar-image-aframe.prod.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <script src="/static/main.js"></script>
  </head>
  <body>
    <a-scene
      markerhandler
      mindar-image="imageTargetSrc:/static/targets.mind;"
      vr-mode-ui="enabled:false"
      device-orientation-permission-ui="enabled:false"
    >
      <div id="header-container" style="position: fixed">
        <div id="header">
          <div class="dropdown">
            <button
              class="btn btn-success dropdown-toggle mx-auto"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="fsize">Check your progress</span>
            </button>
            <ul class="dropdown-menu">
              <li id="goalzero">Reference Desk ❌</li>
            </ul>
          </div>
        </div>
        <div id="startend-container">
          <div id="starter" class="startend">
            <p>Welcome to the Library's <strong>Scavenger Hunt</strong>!</p>
            <p>Find the items listed under "Check your progress"</p>
            <p>Finding the shapes will check them off your list!</p>
            <button
              type="button"
              class="btn btn-success btn-lg"
              id="startbutton"
            >
              Start!
            </button>
          </div>
          <div id="ender" class="startend">
            <p>
              <strong>🎉 Congratulations! 🎉</strong> You've found all of the
              items!
            </p>
            <p>
              Show this screen to the librarians at the reference desk to claim
              your prize!
            </p>
          </div>
        </div>
      </div>

      <a-camera position="0 0 0" look-controls="enabled:false"></a-camera>
      <a-entity mindar-image-target="targetIndex:0" id="anchorzero">
        <a-box
          position="0 0.5 0"
          material="color: red;"
          animation="property: rotation; to: 360 360 0; loop: true; dur: 3000; easing: linear;"
        ></a-box>
      </a-entity>
    </a-scene>
  </body>
</html>
